{% extends "base.html" %}
{% load static %}
{% block headExtras %}
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/dataTables.material.min.css">
    <script src="https://cdn.datatables.net/1.10.12/js/dataTables.material.min.js"></script>
    <link rel="stylesheet" href="{% static "css/datatable-mdl-custom.css" %}">
{% endblock %}
{% block pageTitle %}
    PERIODOS
{% endblock %}
{% block siteTitle %}
Periodos
{% endblock %}
{% block actionButtons %}
<a href="{% url "nuevoPeriodo" %}" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
                <i class="material-icons">add</i>
            </a>
{% endblock %}
{% block container %}
    <table id="transportes" class="mdl-data-table" cellspacing="0" width="100%">
        <thead>
        <tr>
            <td>Año</td>
            <td>Mes</td>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
    <script>
        $(document).ready(function () {
            var tabla_transportes = $('#transportes').DataTable({
                "columnDefs": [
                    {
                        "targets": [0,1],
                        "className": "mdl-data-table__cell--non-numeric"
                    }],
                "ajax": "{% url "get_periodos_table" %}",
                "order": [[0, "desc"],[1,'desc']],
                "orderMulti": true,
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/725b2a2115b/i18n/Spanish.json"
                },
                "processing": true,
                "serverSide": true,
                "search": {
                    "caseInsensitive": true
                }
            });
        });
    </script>
{% endblock %}