manage.py
static_root/
.idea/dataSources.local.xml
.idea/dataSources/
.idea/workspace.xml
aaa.txt
afip_ws/migrations/
afip_ws/php.pyc
afip_ws/soap.pyc
afip_ws/utils.pyc
compras/__init__.pyc
compras/api.pyc
compras/forms.pyc
compras/models.pyc
compras/urls.pyc
compras/views.pyc
core/__init__.pyc
core/api.pyc
core/forms.pyc
core/models.pyc
core/urls.pyc
core/utils.pyc
core/views.pyc
core/widgets.pyc
ventas/__init__.pyc
ventas/api.pyc
ventas/forms.pyc
ventas/models.pyc
ventas/reports.pyc
ventas/urls.pyc
ventas/views.pyc
voolean/__init__.pyc
voolean/settings.pyc
voolean/urls.pyc
voolean/voolean.log
voolean/wsgi.pyc
voolean/wsgi.py~
/.project
php.pyc
soap.pyc
utils.pyc
/cryp/appline-riberi-jorge
/cryp/cert-riberi-jorge.crt
/voolean/personal.py
/.idea/
