{% extends "base.html" %}
{% load staticfiles %}

{% block actionButtons %}
    <a onclick="history.back()"
       class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
        <i class="material-icons">clear</i>
    </a>
    <a onclick="$('form').submit();"
       class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
        <i class="material-icons">done</i>
    </a>
{% endblock %}

{% block headExtras %}
    <script type="text/javascript"
            src="{% static "terceros/easy-autocomplete-1.3.5/jquery.easy-autocomplete.min.js" %}"></script>
    <link rel="stylesheet" href="{% static "css/eac-mdl.css" %}">
    <script src="{% static "js/app.js" %}"></script>
    <script>
        //Funciones
        function submitFormDef() {
            var form = $("form");
            $("input[type='submit']").attr('disabled', true);
            $.post(form.attr('action'), form.serialize(), function (data) {
                console.log(data);
                var json_val = JSON.parse(data);
                window.open('/cobros/impr_recibo/' + json_val.id, '_blank');
                window.location.replace({% url "listaCobros" %});
            });
        }

        function buscarNumRec() {
            $.ajax({
                url: "{% url "get_num_recibo" %}",
                beforeSend: function () {
                    $("label#numero_recibo").text("Obteniendo datos...");
                },
                success: function (response) {
                    $("label#numero_recibo").text("Nro: " + ("00000000" + response).slice(-8));
                }
            });
        }

        function updateElementIndex(el, prefix, ndx, is_new) {
            if (is_new) {
                var id_regex = new RegExp('(' + prefix + '-__prefix__-)');
            }
            else {
                var id_regex = new RegExp('(' + prefix + '-\\d+-)');
            }
            var replacement = prefix + '-' + ndx + '-';
            if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex,
                    replacement));
            if (el.id) el.id = el.id.replace(id_regex, replacement);
            if (el.name) el.name = el.name.replace(id_regex, replacement);
        }

        function adecuarFilaValor(el) {
            var valor = $("option:selected", el).val();
            if (valor == "CHT") {
                $(el).parents(".item").find(".seccion_cheque").show();
                $(el).parents(".item").find(".no_se_necesita").hide();
                $(el).parents(".item").find(".seccion_transferencia").hide();
            }
            else if (valor == "TRB") {
                $(el).parents(".item").find(".seccion_cheque").hide();
                $(el).parents(".item").find(".no_se_necesita").hide();
                $(el).parents(".item").find(".seccion_transferencia").show();
            }
            else if (valor == "EFE") {
                $(el).parents(".item").find(".seccion_cheque").hide();
                $(el).parents(".item").find(".no_se_necesita").show();
                $(el).parents(".item").find(".seccion_transferencia").hide();
            }
        }


        $(document).ready(function () {
            var total_facturas;
            var total_valores;
            var total_entregas;
            var credito;

            function calcularTotalFacturas() {
                total_facturas = 0;
                $(".saldo_factura:visible").each(function () {
                    total_facturas = total_facturas + parseFloat($(this).text());
                });
                $("#total_facturas").text(redondear(total_facturas, 2));
                var tot_desc = total_facturas - credito;
                $("#total_facturas_credito").text(redondear(tot_desc, 2));
            }

            function calcularEntregaFacturas() {
                total_entregas = 0;
                $(".entrega_factura:visible").each(function () {
                    total_entregas = total_entregas + parseFloat($(this).text())
                });
                $("#total_entregas").text(redondear(total_entregas, 2));
                var tot_entr_desc = total_entregas - credito;
                $("#total_entregas_credito").text(redondear(tot_entr_desc, 2));
            }

            function calcularTotalValores() {
                console.log(parseFloat($("label#monto_a_credito").text()))
                if ($("label#monto_a_credito").is(":visible") && parseFloat($("label#monto_a_credito").text()) > 0) {
                    total_valores = parseFloat($("label#monto_a_credito").text());
                }
                else {
                    total_valores = 0;
                }

                $(".monto_input").each(function () {
                    if ($(this).val()) {
                        total_valores = total_valores + parseFloat($(this).val());
                    } else {
                        total_valores = total_valores + 0;
                    }
                });
                $("#total_valores").text(redondear(total_valores, 2));
            }


            function borrarValor(btn, prefix) {
                var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
                if (formCount > 1) {
                    // Borrar el valor
                    $(btn).parents('.item').remove();
                    var forms = $('#detalle_valores .item'); // Obtengo todos los formularios
                    // Actualizo el numero de valores (1 menos el anterior)
                    $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
                    var i = 0;
                    // Recorro los valores y seteo sus indices, id, etc
                    for (formCount = forms.length; i < formCount; i++) {
                        $(forms.get(i)).find("input, label, select").each(function () {
                            updateElementIndex(this, prefix, i, false);
                        });
                    }
                } // End if
                else {
                    alert("El recibo debe contener al menos un valor");
                }
            }

            function agregarValor(btn, prefix) {
                var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
                if (formCount < 20) {
                    var row = $("#valor-empty").clone()
                            .removeAttr("style")
                            .removeAttr("id")
                            .addClass("item")
                            .insertAfter("#detalle_valores tbody tr:nth-last-child(1)")
                            .slideDown(300);

                    // Relabel or rename all the relevant bits
                    $(row).find("input, select, label").each(function () {
                        updateElementIndex(this, prefix, formCount, true);
                    });
                    // Agregar al componentHandler del MDL para su correcto funcionamiento
                    $(row).find("input").each(function () {
                        componentHandler.upgradeElement($(this));
                    });

                    {#                            //Acomodo la fila a cheque#}
                    {#                            $(row).find(".tipo_valor_select").val("CHT");#}
                    {#                            adecuarFilaValor($(row).find(".tipo_valor_select"));#}
                    {##}
                    {#                            // Handler de evento de cambio de seleccion de tipo de valor#}
                    {#                            $(row).find(".tipo_valor_select").change(function () {#}
                    {#                                return adecuarFilaValor(this);#}
                    {#                            });#}
                    {##}
                    {#                            //Handler de Evento de borrado de valor#}
                    {#                            $(row).find(".borrar").click(function () {#}
                    {#                                return borrarValor(this, "valores");#}
                    {#                            });#}
                    {##}
                    {#                            //Handler de evento de calculo de total#}
                    {#                            $(row).find(".monto_input").change(function () {#}
                    {#                                return calcularTotalValores();#}
                    {#                            });#}

                    $.get("/cobros/get_datos_cheque_defecto/" + $("#id_cliente_1").val(), function (data) {
                        if (data) {
                            var json_val = JSON.parse(data);
                            if (json_val) {
                                $(row).find(".cheque_fecha_input").val(json_val.fecha).parents(".mdl-textfield").addClass("is-dirty");
                                $(row).find(".cheque_titular_input").val(json_val.razon_social).parents(".mdl-textfield").addClass("is-dirty");
                                $(row).find(".cheque_paguese_a_input").val(json_val.paguese_a).parents(".mdl-textfield").addClass("is-dirty");
                                $(row).find(".cheque_cuit_titular_input").val(json_val.cuit).parents(".mdl-textfield").addClass("is-dirty");
                            }
                        }
                    })


                    // Update the total form count
                    $("#id_" + prefix + "-TOTAL_FORMS").val(formCount + 1);
                } // End if
                else {
                    alert("Solo se puede agregar 20 valores por recibo");
                }
                return false;
            }

            ////////////////////////////////////////////////////////////////////////////////////////////////
            ///////////////////////Ejecutables
            ////////////////////////////////////////////////////////////////////////////////////////////////
            buscarNumRec();

            $(".seccion_transferencia").hide();

            $("#id_cliente_0").attr("disabled", true);


            var cli = $("#id_cliente_1").val();

            $.get("/cobros/get_credito_valores/" + cli, function (data) {
                if (data) {
                    var json_val = JSON.parse(data);
                    if (json_val) {
                        //var html = 'A CREDITO: $<label id="monto_a_credito">'+json_val.pendiente+'</label>'
                        credito = json_val.pendiente;
                        $(".a_credito").html(json_val.pendiente);
                        //$("#id_credito_anterior").val(json_val.pendiente)
                    }
                }
                else {
                    $(".a_credito").text("0.00");
                    credito = 0;
                }
                calcularTotalFacturas();
                calcularEntregaFacturas();
            });

            $.get("/cobros/get_datos_cheque_defecto/" + cli, function (data) {
                if (data) {
                    var json_val = JSON.parse(data);
                    if (json_val) {
                        $(".cheque_fecha_input").val(json_val.fecha).parents(".mdl-textfield").addClass("is-dirty");
                        $(".cheque_titular_input").val(json_val.razon_social).parents(".mdl-textfield").addClass("is-dirty");
                        ;
                        $(".cheque_paguese_a_input").val(json_val.paguese_a).parents(".mdl-textfield").addClass("is-dirty");
                        ;
                        $(".cheque_cuit_titular_input").val(json_val.cuit).parents(".mdl-textfield").addClass("is-dirty");
                        ;
                    }
                }
            });

            {#    // Evento de cambio de seleccion de tipo de valor#}
            $("form").on("change", ".tipo_valor_select", function () {
                adecuarFilaValor(this);
            });

            // Register the click event handlers
            $("#agregar_valor").click(function () {
                return agregarValor(this, "valores");
            });

            $("form").on("click", ".delete", function () {
                return borrarValor(this, "valores");
            });

            $(".monto_input").change(function () {
                return calcularTotalValores();
            });

            $('form').keypress(function (e) {
                if (e == 13) {
                    return false;
                }
            });

            $('input').keypress(function (e) {
                if (e.which == 13) {
                    return false;
                }
            });

            $("form").on("submit", function (e) {
                e.preventDefault();
                var form = $(e.target);
                var total_entrega = parseFloat(form.find("#total_entregas_credito").text());
                var total_valores = parseFloat(form.find("#total_valores").text());
                if (total_entrega > total_valores) {
                    alert("Lo valores ingreasados no cubren el total entregado.")
                }
                else if (total_entrega < total_valores) {
                    var dialog = document.querySelector('dialog');
                    if (!dialog.showModal) {
                        dialogPolyfill.registerDialog(dialog);
                    }
                    dialog.showModal();
                    dialog.querySelector('.close').addEventListener('click', function () {
                        dialog.close();
                    });
                }
                else {
                    submitFormDef();
                }
            });

        });

    </script>
{% endblock %}
{% block container %}
    <form method="POST" autocomplete="off" novalidate>{% csrf_token %}
        <dialog class="mdl-dialog" style="width: 600px;">
            <h4 class="mdl-dialog__title">Que desea hacer?</h4>
            <div class="mdl-dialog__content">
                <p>Existe una diferencia entre el valor entregado y el total de comprobantes, que desea hacer?</p>
                {% for radio in reciboForm.que_hago_con_diferencia %}
                    {% if forloop.first %}
                        <label for="{{ radio.id_for_label }}" class="btn btn-primary active">
                    {% else %}<label for="{{ radio.id_for_label }}" class="btn btn-primary">{% endif %}
                {{ radio.tag }} {{ radio.choice_label }}
                </label>
                {% endfor %}
                <div class="mdl-dialog__actions">
                    <button type="button" onclick="submitFormDef()" class="mdl-button close">Aceptar</button>
                    <button type="button" class="mdl-button close">Cancelar</button>
                </div>
            </div>
        </dialog>
        {{ reciboForm.credito_anterior }}
        <div class="mdl-grid"></div>
        <div class="mdl-grid mdl-shadow--2dp mdl-color--white">
            <div class="mdl-cel--6-col">
                <div class="mdl-textfield mdl-js-textfield">
                    {{ reciboForm.cliente }}{{ reciboForm.cliente.label_tag }}</div>
                {{ reciboForm.cliente.errors }}
            </div>
            <div class="mdl-cel--3-col">
                <div class="mdl-textfield mdl-js-textfield">{{ reciboForm.fecha }}</div>
            </div>
            <div class="mdl-cel--3-col">
                <div class="mdl-textfield mdl-js-textfield">
                    <label id="numero_recibo">Nro: ________</label>
                </div>
            </div>
        </div>
        <div class="mdl-grid"></div>

        <section class="mdl-grid mdl-shadow--2dp mdl-color--white" id="seccion_comprobantes"><!--COMPROBANTES-->
            {{ cobroFormset.management_form }}
            <div class="mdl-cell--12-col">
                <div class="mdl-grid">
                    <div class="mdl-cell--12-col">
                        <h5>Comprobantes</h5>
                    </div>
                </div>
                <div class="mdl-grid">
                    <div class="mdl-cell--12-col">
                        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" id="comprobantes-pendientes"
                               width="100%">
                            <thead>
                            <tr id="encabezado_detalle_comprobantes">
                                <th>Fecha</th>
                                <th>Factura N°</th>
                                <th>Total</th>
                                <th>Saldo</th>
                                <th>Entrega</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for formu in cobroFormset.forms %}
                                <tr class="item">
                                    {% load l10n %}
                                    {{ formu.id_factura }}
                                    <td><label class="fecha_factura"
                                               id="id_cobros-0-fecha">{{ venta.fecha|date:"d/m/Y" }}</label></td>
                                    <td><label class="numero_factura"
                                               id="id_cobros-0-nro_factura">{{ venta.pto_vta_num_full }}</label></td>
                                    <td><label class="total_factura"
                                               id="id_cobros-0-total">{{ venta.TOTAL|unlocalize }}</label></td>
                                    <td><label class="saldo_factura"
                                               id="id_cobros-0-saldo">{{ venta.TOTAL|unlocalize }}</label></td>
                                    <td><label class="entrega_factura"
                                               id="id_cobros-0-entrega">{{ venta.TOTAL|unlocalize }}</label></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <th></th>
                                <th></th>
                                <th>SUBTOTAL</th>
                                <th><label class="moneda_pesos" id="total_facturas"></label></th>
                                <th><label class="moneda_pesos" id="total_entregas"></label></th>
                            </tr>
                            <tr>
                                <th></th>
                                <th></th>
                                <th>A CREDITO</th>
                                <th><label class="a_credito moneda_pesos"></label></th>
                                <th><label class="a_credito moneda_pesos"></label></th>
                            </tr>
                            <tr>
                                <th></th>
                                <th></th>
                                <th>TOTAL</th>
                                <th><label class="moneda_pesos" id="total_facturas_credito"></label></th>
                                <th><label class="moneda_pesos" id="total_entregas_credito"></label></th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </section>
        <div class="mdl-grid"></div>
        <section class="mdl-grid mdl-shadow--2dp mdl-color--white" id="seccion_valores">
            {{ valoresFormset.management_form }}
            <div class="mdl-cell--12-col">
                <div class="mdl-grid">
                    <div class="mdl-cell--12-col">
                        <h5>Valores</h5>
                    </div>
                </div>
                <div class="mdl-grid">
                    <div class="mdl-cell--12-col">
                        <div class="bg-info" id="a_credito"></div>

                        <table width="100%" style="margin: auto;" id="detalle_valores"
                               class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                            <thead>
                            <tr>
                                <th>Tipo de valor</th>
                                <th>Datos</th>
                                <th>Monto</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for formu in valoresFormset.forms %}
                                <tr class="item">
                                    <td>{{ formu.tipo }}</td>
                                    <td>
                                        <div class="seccion_cheque minimize_cell_content">
                                            <div style="display: flex;justify-content: space-between;">
                                                <div class="mdl-textfield mdl-js-textfield">
                                                    {{ formu.cheque_numero }}{{ formu.cheque_numero.label_tag }}</div>
                                                <div class="mdl-textfield mdl-js-textfield">
                                                    {{ formu.cheque_banco }}{{ formu.cheque_banco.label_tag }}</div>
                                                <div class="mdl-textfield mdl-js-textfield">
                                                    {{ formu.cheque_fecha }} {{ formu.cheque_fecha.label_tag }}</div>
                                                <div class="mdl-textfield mdl-js-textfield">
                                                    {{ formu.cheque_titular }}{{ formu.cheque_titular.label_tag }}</div>
                                            </div>
                                            <div style="display: flex;justify-content: space-between;">
                                                <div class="mdl-textfield mdl-js-textfield">
                                                    {{ formu.cheque_cobro }}{{ formu.cheque_cobro.label_tag }}
                                                </div>
                                                <div class="mdl-textfield mdl-js-textfield">
                                                    {{ formu.cheque_cuit_titular }}{{ formu.cheque_cuit_titular.label_tag }}
                                                </div>
                                                <div class="mdl-textfield mdl-js-textfield">
                                                    {{ formu.cheque_paguese_a }}{{ formu.cheque_paguese_a.label_tag }}</div>
                                                <div class="mdl-textfield mdl-js-textfield">
                                                    {{ formu.cheque_domicilio_de_pago }}{{ formu.cheque_domicilio_de_pago.label_tag }}
                                                </div>
                                            </div>


                                        </div>
                                        <div class="seccion_transferencia minimize_cell_content">
                                            <div class="mdl-textfield mdl-js-textfield">
                                                {{ formu.transferencia_banco_origen }}{{ formu.transferencia_banco_origen.label_tag }}</div>
                                            <div class="mdl-textfield mdl-js-textfield">
                                                {{ formu.transferencia_cuenta_origen }}{{ formu.transferencia_cuenta_origen.label_tag }}</div>
                                            <div class="mdl-textfield mdl-js-textfield">
                                                {{ formu.transferencia_numero_operacion }}{{ formu.transferencia_numero_operacion.label_tag }}</div>
                                            <div class="mdl-textfield mdl-js-textfield">
                                                {{ formu.transferencia_cuenta_destino }}{{ formu.transferencia_cuenta_destino.label_tag }}</div>
                                        </div>
                                    </td>
                                    <td>{{ formu.monto }}</td>
                                    <td>
                                        <button type="button" class="delete btn red darken-2"><i class="material-icons">remove</i>
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr id="valor-empty" style="display: none;">
                                <td>{{ valoresFormset.empty_form.tipo }}</td>
                                <td>
                                    <div class="seccion_cheque minimize_cell_content">
                                        <div style="display: flex;justify-content: space-between;">
                                            <div class="mdl-textfield mdl-js-textfield">
                                                {{ valoresFormset.empty_form.cheque_numero }}{{ valoresFormset.empty_form.cheque_numero.label_tag }}</div>
                                            <div class="mdl-textfield mdl-js-textfield">
                                                {{ valoresFormset.empty_form.cheque_banco }}{{ valoresFormset.empty_form.cheque_banco.label_tag }}</div>
                                            <div class="mdl-textfield mdl-js-textfield">
                                                {{ valoresFormset.empty_form.cheque_fecha }} {{ valoresFormset.empty_form.cheque_fecha.label_tag }}</div>
                                            <div class="mdl-textfield mdl-js-textfield">
                                                {{ valoresFormset.empty_form.cheque_titular }}{{ valoresFormset.empty_form.cheque_titular.label_tag }}</div>
                                        </div>
                                        <div style="display: flex;justify-content: space-between;">
                                            <div class="mdl-textfield mdl-js-textfield">
                                                {{ valoresFormset.empty_form.cheque_cobro }}{{ valoresFormset.empty_form.cheque_cobro.label_tag }}
                                            </div>
                                            <div class="mdl-textfield mdl-js-textfield">
                                                {{ valoresFormset.empty_form.cheque_cuit_titular }}{{ valoresFormset.empty_form.cheque_cuit_titular.label_tag }}
                                            </div>
                                            <div class="mdl-textfield mdl-js-textfield">
                                                {{ valoresFormset.empty_form.cheque_paguese_a }}{{ valoresFormset.empty_form.cheque_paguese_a.label_tag }}</div>
                                            <div class="mdl-textfield mdl-js-textfield">
                                                {{ valoresFormset.empty_form.cheque_domicilio_de_pago }}{{ valoresFormset.empty_form.cheque_domicilio_de_pago.label_tag }}
                                            </div>
                                        </div>


                                    </div>
                                    <div class="seccion_transferencia minimize_cell_content">
                                        <div class="mdl-textfield mdl-js-textfield">
                                            {{ valoresFormset.empty_form.transferencia_banco_origen }}{{ valoresFormset.empty_form.transferencia_banco_origen.label_tag }}</div>
                                        <div class="mdl-textfield mdl-js-textfield">
                                            {{ valoresFormset.empty_form.transferencia_cuenta_origen }}{{ valoresFormset.empty_form.transferencia_cuenta_origen.label_tag }}</div>
                                        <div class="mdl-textfield mdl-js-textfield">
                                            {{ valoresFormset.empty_form.transferencia_numero_operacion }}{{ valoresFormset.empty_form.transferencia_numero_operacion.label_tag }}</div>
                                        <div class="mdl-textfield mdl-js-textfield">
                                            {{ valoresFormset.empty_form.transferencia_cuenta_destino }}{{ valoresFormset.empty_form.transferencia_cuenta_destino.label_tag }}</div>
                                    </div>
                                </td>
                                <td>{{ valoresFormset.empty_form.monto }}</td>
                                <td>
                                    <button type="button" class="delete btn red darken-2"><i class="material-icons">remove</i>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <button type="button" id="agregar_valor" class="button"><i class="material-icons">add</i>
                </button>
                <h4><span>Total: </span><span id="total_valores" class="moneda_pesos">0.00</span></h4>

            </div>
        </section>
    </form>
{% endblock %}


















{#{% extends "base.html" %}#}
{#{% load staticfiles %}#}
{#{% block headExtras %}#}
{#<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css" />#}
{#<link rel="stylesheet" href="{% static "css/spinner.css" %}" />#}
{#<link rel="stylesheet" href="{% static "css/chosen.css" %}" type="text/css">#}
{#<script src="{% static "js/chosen.jquery.js" %}" type="text/javascript"></script>#}
{#<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>#}
{#<script src="{% static "js/jquery.spin.js" %}"></script>#}
{#<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/css/bootstrapValidator.min.css"/>#}
{#<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/js/bootstrapValidator.min.js"></script>#}
{#<script type="text/javascript" src="http://bootstrapvalidator.com/vendor/bootstrapvalidator/js/language/es_ES.js"></script>#}
{#<link rel="stylesheet" href="{% static "css/bootstrap-chosen.css" %}" type="text/css">#}
{#<script>#}
{#$(document).ready(function () {#}
{#	var total_facturas;#}
{#	var total_valores;#}
{#	var total_entregas;#}
{#	var credito;#}
{#	var html_spinner = '<div class="spinner">\#}
{#		  				<div class="rect1"></div>\#}
{#						<div class="rect2"></div>\#}
{#						<div class="rect3"></div>\#}
{#						<div class="rect4"></div>\#}
{#						<div class="rect5"></div>\#}
{#						</div>'#}
{#	#}
{#	function redondear(numero, decimales)#}
{#	{#}
{#		var flotante = parseFloat(numero);#}
{#		var resultado = Math.round(flotante*Math.pow(10,decimales))/Math.pow(10,decimales);#}
{#		return resultado.toFixed(decimales);#}
{#	}#}
{#	#}
{#	function calcularTotalFacturas(){#}
{#		total_facturas = 0;#}
{#		$(".saldo_factura").each(function(){#}
{#			total_facturas = total_facturas + parseFloat($(this).text().replace("$ ",""))#}
{#		});#}
{#		$("#total_facturas").text("$ "+redondear(total_facturas,2));#}
{#		var tot_desc= total_facturas - credito;#}
{#		$("#total_facturas_credito").text("$ "+redondear(tot_desc,2));#}
{#	}#}
{#	#}
{#	function calcularEntregaFacturas(){#}
{#		total_entregas = 0;#}
{#		$(".entrega_factura").each(function(){#}
{#			total_entregas = total_entregas + parseFloat($(this).text())#}
{#		});#}
{#		$("#total_entregas").text("$ "+redondear(total_entregas,2))#}
{#		var tot_entr_desc= total_entregas - credito;#}
{#		$("#total_entregas_credito").text("$ "+redondear(tot_entr_desc,2));#}
{#	}#}
{#	#}
{#	function calcularTotalValores(){#}
{#		console.log(parseFloat($("label#monto_a_credito").text()))#}
{#		if ($("label#monto_a_credito").is(":visible") && parseFloat($("label#monto_a_credito").text())>0){#}
{#			total_valores=parseFloat($("label#monto_a_credito").text());#}
{#		} #}
{#		else {total_valores = 0;}#}
{#		#}
{#		$(".monto_input").each(function(){#}
{#			if ($(this).val()){#}
{#				total_valores = total_valores + parseFloat($(this).val());#}
{#			} else {total_valores = total_valores + 0;}#}
{#		});#}
{#		$("#total_valores").text("Total: $ "+redondear(total_valores,2))#}
{#	}#}
{#	#}
{#	//Funciones#}
{#	function buscarNumRec(){#}
{#		$.ajax({url:'/api/get_num_recibo/',#}
{#                beforeSend: function () {#}
{#                        //$('#bloque_numero_recibo').children().addClass("relativo");#}
{#						//$('#bloque_numero_recibo').append(html_spinner);#}
{#						//$('#bloque_numero_recibo').spin('show');#}
{#						$("label#numero_recibo").text("Obteniendo datos...");#}
{#                },#}
{#                success:  function (response) {#}
{#                        $("label#numero_recibo").text("Nro: "+("00000000" + response).slice (-8));#}
{#                        //$("label#numero_recibo").spin(false);#}
{#                        //$('#bloque_numero_recibo').spin('hide');#}
{#                }#}
{#        });#}
{#		#}
{#    	//$.get("/api/get_num_recibo/", function(data) {#}
{#    	//	$("label#numero_recibo").text(("00000000" + data).slice (-8));#}
{#    	//	});#}
{#    }#}
{#    #}
{#    // Code adapted from http://djangosnippets.org/snippets/1389/  #}
{#    function updateElementIndex(el, prefix, ndx) {#}
{#        var id_regex = new RegExp('(' + prefix + '-\\d+-)');#}
{#        var replacement = prefix + '-' + ndx + '-';#}
{#        if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex,#}
{#        replacement));#}
{#        if (el.id) el.id = el.id.replace(id_regex, replacement);#}
{#        if (el.name) el.name = el.name.replace(id_regex, replacement);#}
{#    }#}
{#    #}
{#    function adecuarFilaValor(el){#}
{#    	//var regex = /valores-(\d+)-/g;#}
{#    	//var num = regex.exec($(el).attr("id"));#}
{#    	var valor = $("option:selected", el).val();#}
{#    	if (valor=="CHT") {#}
{#    		$(el).parents(".item").find(".seccion_cheque").show();#}
{#    		$(el).parents(".item").find(".no_se_necesita").hide();#}
{#    		$(el).parents(".item").find(".seccion_transferencia").hide();#}
{#    	}#}
{#    	else if (valor=="TRB") {#}
{#    		$(el).parents(".item").find(".seccion_cheque").hide();#}
{#    		$(el).parents(".item").find(".no_se_necesita").hide();#}
{#    		$(el).parents(".item").find(".seccion_transferencia").show();#}
{#    	}#}
{#    	else if (valor=="EFE") {#}
{#    		$(el).parents(".item").find(".seccion_cheque").hide();#}
{#    		$(el).parents(".item").find(".no_se_necesita").show();#}
{#    		$(el).parents(".item").find(".seccion_transferencia").hide();#}
{#    	}#}
{#    }#}
{#    #}
{#    function borrarValor(btn, prefix) {#}
{#        var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());#}
{#        if (formCount > 1) {#}
{#            // Borrar el valor #}
{#            $(btn).parents('.item').remove();#}
{#            var forms = $('#detalle_valores .item'); // Obtengo todos los formularios  #}
{#            // Actualizo el numero de valores (1 menos el anterior)#}
{#            $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);#}
{#            var i = 0;#}
{#            // Recorro los valores y seteo sus indices, id, etc#}
{#            for (formCount = forms.length; i < formCount; i++) {#}
{#                $(forms.get(i)).children().children().children().children().each(function () {#}
{#                    updateElementIndex(this, prefix, i);#}
{#                });#}
{#                $(forms.get(i)).children().children().each(function () {#}
{#                    updateElementIndex(this, prefix, i);#}
{#                });#}
{#            }#}
{#        } // End if#}
{#        else {#}
{#            alert("El recibo debe contener al menos un valor");#}
{#        }#}
{#        return false;#}
{#    }#}
{##}
{#    function agregarValor(btn, prefix) {#}
{#        var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val()); #}
{#        if (formCount < 20) {#}
{#            // Clone a form (without event handlers) from the first form#}
{#            var row = $("#detalle_valores .item:first").clone(false).get(0);#}
{#            // Insert it after the last form#}
{#            $(row).removeAttr('id').hide().insertAfter("#detalle_valores .item:last").slideDown(300);#}
{##}
{#            // Remove the bits we don't want in the new row/form#}
{#            // e.g. error messages#}
{#            $(".errorlist", row).remove();#}
{#            $(row).children().removeClass("error");#}
{#            #}
{#            // Relabel or rename all the relevant bits#}
{#            $(row).children().children().children().children().each(function () {#}
{#                updateElementIndex(this, prefix, formCount);#}
{#                $(this).val("");#}
{#                $(this).removeAttr('value');#}
{#            });#}
{#            $(row).children().children().each(function () {#}
{#                updateElementIndex(this, prefix, formCount);#}
{#                $(this).val("");#}
{#                $(this).removeAttr('value');#}
{#            });#}
{#                                    #}
{#            //Acomodo la fila a cheque#}
{#            $(row).find(".tipo_valor_select").val("CHT");#}
{#            adecuarFilaValor($(row).find(".tipo_valor_select"));#}
{#                        #}
{#            // Handler de evento de cambio de seleccion de tipo de valor#}
{#    		$(row).find(".tipo_valor_select").change(function() {#}
{#    			return adecuarFilaValor(this);#}
{#    		});#}
{#    		#}
{#    		//Handler de Evento de borrado de valor#}
{#    		$(row).find(".borrar").click(function () {#}
{#       			return borrarValor(this, "valores");#}
{#    		});#}
{#    		#}
{#    		//Handler de evento de calculo de total#}
{#    		$(row).find(".monto_input").change(function() {#}
{#    			return calcularTotalValores();#}
{#    		});#}
{#    		#}
{#    		$.get("/api/get_datos_cheque_defecto/"+$("#id_cliente").val(), function(data){#}
{#    			if(data){#}
{#    				var json_val = JSON.parse(data)#}
{#    				if(json_val){#}
{#    					$(row).find(".cheque_fecha_input").val(json_val.fecha)#}
{#    					$(row).find(".cheque_titular_input").val(json_val.razon_social)#}
{#    					$(row).find(".cheque_paguese_a_input").val(json_val.paguese_a)#}
{#    					$(row).find(".cheque_cuit_titular_input").val(json_val.cuit)#}
{#    				}#}
{#    			}#}
{#    		})#}
{#    		#}
{#    		//Habilito validadores#}
{#    		$("form").bootstrapValidator('addField', $(row).find(".cheque_numero_input"));#}
{#    		$("form").bootstrapValidator('addField', $(row).find(".cheque_fecha_input"));#}
{#    		$("form").bootstrapValidator('addField', $(row).find(".cheque_fecha_cobro_input"));#}
{#    		$("form").bootstrapValidator('addField', $(row).find(".cheque_titular_input"));#}
{#    		$("form").bootstrapValidator('addField', $(row).find(".cheque_cuit_titular_input"));#}
{#    		$("form").bootstrapValidator('addField', $(row).find(".cheque_paguese_a_input"));#}
{#    		$("form").bootstrapValidator('addField', $(row).find(".cheque_domicilio_pago_input"));#}
{#    		$("form").bootstrapValidator('addField', $(row).find(".transferencia_banco_origen_select"));#}
{#    		$("form").bootstrapValidator('addField', $(row).find(".transferencia_numero_operacion_input"));#}
{#    		$("form").bootstrapValidator('addField', $(row).find(".transferencia_cuenta_destino_select"));#}
{#    		$("form").bootstrapValidator('addField', $(row).find(".monto_input"));#}
{#    #}
{#            // Update the total form count#}
{#            $("#id_" + prefix + "-TOTAL_FORMS").val(formCount + 1);#}
{#        } // End if#}
{#        else {#}
{#            alert("Solo se puede agregar 20 valores por recibo");#}
{#        }#}
{#        return false;#}
{#    }#}
{#   #}
{#    ////////////////////////////////////////////////////////////////////////////////////////////////#}
{#    ///////////////////////Ejecutables#}
{#    ////////////////////////////////////////////////////////////////////////////////////////////////#}
{#    buscarNumRec();#}
{#    #}
{#    $("input[type='text'], select").each(function() {#}
{#		$(this).addClass("form-control");#}
{#		});#}
{#  #}
{#    var cli = $("#id_cliente").val();#}
{#    console.log("Cliente:" +cli);#}
{#    $.get("/api/get_credito_valores/"+cli, function(data){#}
{#		console.log("lalalalala");#}
{#		console.log(data);#}
{#		if (data) {#}
{#			var json_val = JSON.parse(data)#}
{#			if (json_val) {#}
{#				//var html = 'A CREDITO: $<label id="monto_a_credito">'+json_val.pendiente+'</label>'#}
{#				//$("#a_credito").html(html).show();#}
{#				//calcularTotalValores();#}
{#				credito = json_val.pendiente;#}
{#    			$(".a_credito").html("$ -"+json_val.pendiente);#}
{#    			calcularTotalFacturas();#}
{#    			calcularEntregaFacturas();#}
{#				//$("#id_credito_anterior").val(json_val.pendiente)#}
{#			}#}
{#		}#}
{#		else {#}
{#			//$("#a_credito").hide();#}
{#			console.log("LELELELE");#}
{#			$(".a_credito").html("$ 0.00");#}
{#    		credito = 0;#}
{#    		calcularTotalFacturas();#}
{#    		calcularEntregaFacturas();#}
{#			}//$("#id_credito_anterior").val("0.00")}#}
{#	});#}
{#    $.get("/api/get_datos_cheque_defecto/"+cli, function(data){#}
{#		if(data){#}
{#			var json_val = JSON.parse(data)#}
{#			if(json_val){#}
{#				$(".cheque_fecha_input").val(json_val.fecha)#}
{#				$(".cheque_titular_input").val(json_val.razon_social)#}
{#				$(".cheque_paguese_a_input").val(json_val.paguese_a)#}
{#				$(".cheque_cuit_titular_input").val(json_val.cuit)#}
{#			}#}
{#		}#}
{#	})#}
{#    #}
{#    adecuarFilaValor($("#id_valores-0-tipo"))#}
{#    #}
{#    $("input[type='hidden'][name='cliente']").val($("#id_cliente").val())#}
{#    #}
{#    // Evento de cambio de seleccion de tipo de valor#}
{#    $(".tipo_valor_select").change(function() {#}
{#    	return adecuarFilaValor(this);#}
{#    });#}
{#    #}
{#    $(".monto_input").change(function() {#}
{#    	return calcularTotalValores();#}
{#    });#}
{#    #}
{#	// Register the click event handlers#}
{#    $("#agregar_valor").click(function () {#}
{#        return agregarValor(this, "valores");#}
{#    });#}
{##}
{#    $(".borrar").click(function () {#}
{#        return borrarValor(this, "valores");#}
{#    });#}
{#    #}
{#    $('form').keypress(function(e){   #}
{#    	if(e == 13){#}
{#      		return false;#}
{#    	}#}
{#  	});#}
{##}
{#  	$('input').keypress(function(e){#}
{#    	if(e.which == 13){#}
{#      		return false;#}
{#    	}#}
{#  	});#}
{#  	#}
{#  	$("#id_cliente").chosen();#}
{#  	#}
{#	$("form").bootstrapValidator({#}
{#		container:'popover',#}
{#		feedbackIcons: {#}
{#			valid: 'glyphicon glyphicon-ok',#}
{#			invalid: 'glyphicon glyphicon-remove',#}
{#			validating: 'glyphicon glyphicon-refresh'#}
{#		},#}
{#		live:'submitted',#}
{#		fields:{#}
{#			fecha:{#}
{#				validators:{#}
{#					notEmpty:{#}
{#						message:'Debe seleccionar una fecha'#}
{#					},#}
{#					date:{#}
{#						message: 'Debe introducir una fecha válida',#}
{#						format: 'DD/MM/YYYY'#}
{#					}#}
{#    		}#}
{#    	},#}
{#    	cliente:{#}
{#    		excluded:false,#}
{#    		validators:{#}
{#    			callback:{#}
{#    				message: 'Debe seleccionar un cliente',#}
{#    				callback: function(value, validator){#}
{#    					var options = validator.getFieldElements('cliente').val();#}
{#    					if (options) {return true} else {return false}#}
{#    				}#}
{#    			}#}
{#    		}#}
{#    	}#}
{#    	}#}
{#		})#}
{#		.on('success.form.bv',function(e){#}
{#			console.log("Success validation")#}
{#			e.preventDefault();#}
{#			var $form = $(e.target)#}
{#			var total_entrega=parseFloat($form.find("#total_entregas").text().replace('$ ',''))#}
{#			var total_valores=parseFloat($form.find("#total_valores").text().replace('Total: $ ',''))#}
{#			console.log(total_entrega, total_valores)#}
{#			if (total_entrega>total_valores){#}
{#				console.log("valores menor que entrega")#}
{#				$("#modalErrorTotales").modal({backdrop:'static'})}#}
{#			else if (total_entrega < total_valores){#}
{#				$("#modalVueltoOCredito").modal({backdrop:'static'});#}
{#			}#}
{#			else {#}
{#				$("input[type='submit']").attr('disabled',true)#}
{#				$.post($form.attr('action'), $form.serialize(), function(data){#}
{#					console.log(data)#}
{#					var json_val = JSON.parse(data)#}
{#					window.open('/cobros/impr_recibo/'+json_val.id,'_blank')#}
{#					window.location.replace({% url "listarCobros" %})#}
{#				})#}
{#				}#}
{#			#}
{#		})#}
{#		//$("form").submit()#}
{#		#}
{#		$("#clickSubmitForm").on('click',function(){#}
{#			console.log("debe hacer submit")#}
{#			$("input[type='submit']").attr('disabled',true)#}
{#			$form = $("form")#}
{#			$.post($form.attr('action'), $form.serialize(), function(data){#}
{#				console.log(data)#}
{#				var json_val = JSON.parse(data)#}
{#				window.open('/cobros/impr_recibo/'+json_val.id,'_blank')#}
{#				window.location.replace({% url "listarCobros" %})#}
{#		})#}
{#		})#}
{#			#}
{##}
{#<style type="text/css">#}
{#/*Spinner de carga*/#}
{#.spinner {#}
{#	  margin: 100px auto;#}
{#	  width: 50px;#}
{#	  height: 30px;#}
{#	  text-align: center;#}
{#	  font-size: 10px;#}
{#	}#}
{##}
{#	.spinner > div {#}
{#	  background-color: #333;#}
{#	  height: 100%;#}
{#	  width: 6px;#}
{#	  display: inline-block;#}
{#	  #}
{#	  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;#}
{#	  animation: stretchdelay 1.2s infinite ease-in-out;#}
{#	}#}
{##}
{#	.spinner .rect2 {#}
{#	  -webkit-animation-delay: -1.1s;#}
{#	  animation-delay: -1.1s;#}
{#	}#}
{##}
{#	.spinner .rect3 {#}
{#	  -webkit-animation-delay: -1.0s;#}
{#	  animation-delay: -1.0s;#}
{#	}#}
{##}
{#	.spinner .rect4 {#}
{#	  -webkit-animation-delay: -0.9s;#}
{#	  animation-delay: -0.9s;#}
{#	}#}
{##}
{#	.spinner .rect5 {#}
{#	  -webkit-animation-delay: -0.8s;#}
{#	  animation-delay: -0.8s;#}
{#	}#}
{##}
{#	@-webkit-keyframes stretchdelay {#}
{#	  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  #}
{#	  20% { -webkit-transform: scaleY(1.0) }#}
{#	}#}
{##}
{#	@keyframes stretchdelay {#}
{#	  0%, 40%, 100% { #}
{#	    transform: scaleY(0.4);#}
{#	    -webkit-transform: scaleY(0.4);#}
{#	  }  20% { #}
{#	    transform: scaleY(1.0);#}
{#	    -webkit-transform: scaleY(1.0);#}
{#	  }#}
{#	}#}
{#/*Fin de spinner de carga*/#}
{##}
{##}
{#form .chosen-choices {#}
{#    border: 1px solid #ccc;#}
{#    border-radius: 4px;#}
{#    min-height: 34px;#}
{#    padding: 6px 12px;#}

{#form .form-control-feedback {#}
{#    /* To make the feedback icon visible */#}
{#    z-index: 100;#}

{##}
{##}
{##cont {  #}
{#  /*width: 1100px;*/  #}
{#  margin-left: auto;  #}
{#  margin-right: auto;#}

{##}
{##}
{#</style>{% endblock %} #}
{#{% block container %}#}
{#    <!--Modal Error importe valores menor importe facturas!-->#}
{#    <div id="modalErrorTotales" class="modal fade">#}
{#    	<div class="modal-dialog">#}
{#    		<div class="modal-content">#}
{#        		<div class="modal-header">#}
{#        			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>#}
{#        			<h4 class="modal-title">Error</h4>#}
{#        </div>#}
{#        <div class="modal-body">#}
{#          <p>El total declarado como entregado supera al total de los valores. Verifique los datos ingresados.</p>#}
{#        </div>#}
{#        <div class="modal-footer">#}
{#          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>#}
{#        </div>#}
{#      </div><!-- /.modal-content -->#}
{#    </div><!-- /.modal-dialog -->#}
{#  </div><!-- /.modal -->#}
{#    #}
{#    <div id="cont" class="container">#}
{#      <div class="page_header"><h1>Cobranza  <small>Nuevo Recibo</small></h1></div>#}
{#      	<form class="form-horizontal" method="POST">{% csrf_token %}#}
{#      	<!--Modal Error importe valores menor importe facturas!-->#}
{#        <div id="modalVueltoOCredito" class="modal fade">#}
{#        	<div class="modal-dialog">#}
{#        		<div class="modal-content">#}
{#            		<div class="modal-header">#}
{#            			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>#}
{#            			<h4 class="modal-title">Que desea hacer?</h4>#}
{#            </div>#}
{#            <div class="modal-body">#}
{#              <p>Existe una diferencia entre el valor entregado y el total de comprobantes, que desea hacer?</p>#}
{#              <div class="btn-group" data-toggle="buttons">#}
{#              {% for radio in reciboForm.que_hago_con_diferencia %}#}
{#              {% if forloop.first %}<label for="{{radio.id_for_label}}" class="btn btn-primary active">#}
{#              {% else %}<label for="{{radio.id_for_label}}" class="btn btn-primary">{% endif %}#}
{#                {{radio.tag}} {{radio.choice_label}}#}
{#                </label>#}
{#              {% endfor %}#}
{#            </div>#}
{#            </div>#}
{#            <div class="modal-footer">#}
{#              <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>#}
{#              <button id="clickSubmitForm" type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>#}
{#            </div>#}
{#          </div><!-- /.modal-content -->#}
{#        </div><!-- /.modal-dialog -->#}
{#      </div><!-- /.modal -->#}
{#      		{{reciboForm.credito_anterior}}#}
{#      		<div class="panel panel-primary">#}
{#      			<div class="panel-heading"><h3 class="panel-title">Cabecera</h3></div>#}
{#      			<div class="panel-body">#}
{#      				<div class="form-group">#}
{#      					<label class="col-md-1 control-label" for="id_fecha">Fecha:</label>#}
{#      					<div class="col-md-2">{{ reciboForm.fecha }} </div>#}
{#      					<label id="numero_recibo" class="col-md-2 control-label">Nro: ________</label>#}
{#      				</div>#}
{#      				<div class="form-group">#}
{#      					<label class="col-md-1 control-label" for="id_cliente">Cliente:</label>#}
{#      					<input type="hidden" name="cliente">#}
{#      					<div class="col-md-5">{{ reciboForm.cliente }} </div>#}
{#      				</div>#}
{#      			</div>#}
{#      		</div>#}
{#      		<section class="panel panel-primary" id="seccion_comprobantes">#}
{#  			<div class="panel-heading"><h3 class="panel-title">Comprobantes</h3></div>#}
{#  			<div class="panel-body">#}
{#  				{{ cobroFormset.management_form }}#}
{#  				<div class="form-group">#}
{#  					<table class="table table-condensed" id="detalle_comprobantes">#}
{#  					<thead>#}
{#    				<tr id="encabezado_detalle_comprobantes">#}
{#    					<th>Fecha</th>#}
{#    					<th>Factura N°</th>#}
{#    					<th>Total</th>#}
{#    					<th>Saldo</th>#}
{#    					<th>Entrega</th>#}
{#    				</tr></thead>#}
{#    			<tbody>#}
{#    				{% for formu in cobroFormset.forms %}#}
{#    				<tr class="item">#}
{#    					{% load l10n %}#}
{#    					{{ formu.id_factura }}#}
{#    					<td><label class="fecha_factura" id="id_cobros-0-fecha">{{venta.fecha|date:"d/m/Y"}}</label></td>#}
{#    					<td><label class="numero_factura" id="id_cobros-0-nro_factura">{{venta.pto_vta_num_full}}</label></td>#}
{#    					<td><label class="total_factura" id="id_cobros-0-total">{{venta.TOTAL|unlocalize}}</label></td>#}
{#    					<td><label class="saldo_factura" id="id_cobros-0-saldo">{{venta.TOTAL|unlocalize}}</label></td>#}
{#    					<td><label class="entrega_factura" id="id_cobros-0-entrega">{{venta.TOTAL|unlocalize}}</label></td>#}
{#    					<td>{{formu.pagar}}</td>#}
{#    				</tr>#}
{#    				{% endfor %}#}
{#    			</tbody>#}
{#    			<tfoot><tr>#}
{#    				<th></th>#}
{#    				<th></th>#}
{#    				<th></th>#}
{#    				<th><label id="total_facturas">{{venta.TOTAL|unlocalize}}</label></th>#}
{#    				<th><label id="total_entregas">{{venta.TOTAL|unlocalize}}</label></th>#}
{#    			</tr>#}
{#    			<tr>#}
{#    					<th></th>#}
{#    					<th></th>#}
{#    					<th>A CREDITO</th>#}
{#    					<th><label class="a_credito"></label></th>#}
{#    					<th><label class="a_credito"></label></th>#}
{#    				</tr>#}
{#    				<tr>#}
{#    					<th></th>#}
{#    					<th></th>#}
{#    					<th></th>#}
{#    					<th><label id="total_facturas_credito"></label></th>#}
{#    					<th><label id="total_entregas_credito"></label></th>#}
{#    				</tr></tfoot>#}
{#    			</table>#}
{#    			</div></div>#}
{#    </section>#}
{#    <section class="panel panel-primary" id="seccion_comprobantes">#}
{#		<div class="panel-heading"><h3 class="panel-title">Valores</h3></div>#}
{#		<div class="panel-body">#}
{#			<div class="bg-info" id="a_credito"></div>#}
{#			{{ valoresFormset.management_form }}#}
{#			<table id="detalle_valores" class="table table-condensed">#}
{#				<tbody>#}
{#					<div class="form-group">	#}
{#					{% for formu in valoresFormset.forms %}#}
{#						<tr class="item">#}
{#							<td>#}
{#								<div class="row">#}
{#									<div class="col-md-3">#}
{#										<label for="id_valores-0-tipo" class="control-label">Tipo de valor:</label>#}
{#										{{formu.tipo}}#}
{#									</div>#}
{#									<div class="col-md-2 seccion_cheque">#}
{#										<label for="id_valores-0-cheque_numero" class="control-label">Numero Cheque:</label>#}
{#										{{formu.cheque_numero}}#}
{#									</div>#}
{#									<div class="col-md-4 seccion_cheque">#}
{#										<label for="id_valores-0-cheque_banco" class="control-label">Banco:</label>#}
{#										{{formu.cheque_banco}}#}
{#									</div>#}
{#									<div class="col-md-1 seccion_cheque">#}
{#										<!--Div en blanco para que quede tipo tabla-->#}
{#									</div>#}
{#									<div class="col-md-3 seccion_transferencia">#}
{#										<label for="id_valores-0-transferencia_banco_origen" class="control-label">Banco Origen:</label>#}
{#										{{formu.transferencia_banco_origen}}#}
{#									</div>#}
{#									<div class="col-md-3 col-md-offset-1 seccion_transferencia">#}
{#										<label for="id_valores-0-transferencia_cuenta_origen" class="control-label">Cuenta Origen:</label>#}
{#										{{formu.transferencia_cuenta_origen}}#}
{#									</div>#}
{#									<div class="col-md-2">#}
{#										<label for="id_valores-0-monto" class="control-label">Monto:</label>#}
{#										{{formu.monto}}#}
{#									</div>#}
{#								</div>#}
{#								<div class="row">#}
{#									<div class="col-md-3 col-md-offset-3 seccion_cheque">#}
{#										<label for="id_valores-0-cheque_fecha" class="control-label">Fecha Cheque</label>#}
{#										{{formu.cheque_fecha}}#}
{#									</div>#}
{#									<div class="col-md-3 seccion_cheque">#}
{#										<label for="id_valores-0-cheque_fecha_cobro" class="control-label">Fecha Cobro Cheque</label>#}
{#										{{formu.cheque_cobro}}#}
{#									</div>#}
{#									<div class="col-md-3 col-md-offset-3 seccion_transferencia">#}
{#										<label for="id_valores-0-transferencia_numero_operacion" class="control-label">Número de operación</label>#}
{#										{{formu.transferencia_numero_operacion}}#}
{#									</div>#}
{#									<div class="col-md-4 seccion_transferencia">#}
{#										<label for="id_valores-0-transferencia_cuenta_destino" class="control-label">Cuenta Origen:</label>#}
{#										{{formu.transferencia_cuenta_destino}}#}
{#									</div>#}
{#								</div>#}
{#								<div class="row">#}
{#									<div class="col-md-3 col-md-offset-3 seccion_cheque">#}
{#										<label for="id_valores-0-cheque_titular" class="control-label">Titular del cheque</label>#}
{#										{{formu.cheque_titular}}#}
{#									</div>#}
{#									<div class="col-md-3 seccion_cheque">#}
{#										<label for="id_valores-0-cheque_cuit_titular" class="control-label">CUIT titular del cheque</label>#}
{#										{{formu.cheque_cuit_titular}}#}
{#									</div>#}
{#								</div>#}
{#								<div class="row">#}
{#									<div class="col-md-3 col-md-offset-3 seccion_cheque">#}
{#										<label for="id_valores-0-cheque_paguese_a" class="control-label">Paguese a</label>#}
{#										{{formu.cheque_paguese_a}}#}
{#									</div>#}
{#									<div class="col-md-3 seccion_cheque">#}
{#										<label for="id_valores-0-cheque_domicilio_de_pago" class="control-label">Domicilio de pago</label>#}
{#										{{formu.cheque_domicilio_de_pago}}#}
{#									</div>#}
{#								</div>#}
{#							</td>#}
{#						<tr>#}
{#				    {% endfor %}#}
{#				    </div>#}
{#  </tbody>#}
{#</table>#}
{#</div>#}
{#<p><a id="agregar_valor" class="btn btn-primary" href="#">Agregar valor</a></p>#}
{#<h4 id="total_valores">Total: $ 0.00</h4>#}
{##}
{#</section>#}
{#        <input class="btn btn-primary" value="GRABAR" type="submit">#}
{#        </form>#}
{#    </div>#}
{#    {% endblock %}#}
