{% extends "base.html" %}
{% load static %}
{% block headExtras %}
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/dataTables.material.min.css">
    <script src="https://cdn.datatables.net/1.10.12/js/dataTables.material.min.js"></script>
    <link rel="stylesheet" href="{% static "css/datatable-mdl-custom.css" %}">
{% endblock %}
{% block pageTitle %}
    COBROS
{% endblock %}
{% block siteTitle %}
    Cobros
{% endblock %}
{% block actionButtons %}
    <a href="{% url "nuevoCobro" %}"
       class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
        <i class="material-icons">add</i>
    </a>
{% endblock %}
{% block container %}
    <table id="cobros" class="mdl-data-table" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>Fecha</th>
            <th>Número</th>
            <th>Cliente</th>
            <th>Comprobantes</th>
            <th>Total</th>
            <td style="width: 20px;"></td>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
    <script>
        $(document).ready(function () {
            var tabla_cobros = $('#cobros').DataTable({
                "columnDefs": [
                    {
                        "targets": [5],
                        "orderable": false,
                        "className": "datatables-mdl--action-col"
                    },
                    {
                        "targets": [0, 1, 2, 3, 4, 5],
                        "className": "mdl-data-table__cell--non-numeric"
                    }],
                "ajax": "{% url "get_cobros_table" %}",
                "order": [[0, "desc"]],
                "orderMulti": false,
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/725b2a2115b/i18n/Spanish.json"
                },
                "processing": true,
                "serverSide": true,
                "search": {
                    "caseInsensitive": true
                }
            });

            $("#cobros tbody").on("click", ".imprimirRecibo", function () {
                var url = $(this).attr('href');
                window.open(url, '_blank');
                return false;
            });
        });
    </script>
{% endblock %}